.logo {
  height: 8rem;
}
.panier,a{
  text-decoration: none;
}
.teddy-wrapper {
  margin-bottom: 50px;
  background-color: #87CEEB;
  border-radius: 30px;
  padding: 25px;
  max-width: 250px;
  min-width: 250px;
  
}
.teddy-pic{
  height:50%;
  width:100%;
  max-width:100%;
  object-fit:cover;
}
.produits{
    display :flex;
    flex-direction: row;
    justify-content:space-around ;
    flex-wrap:wrap;
}
.product-image{
  width:50%;
}
.product-button{
  background-color:pink;
  border-radius: 15px;
  height:35px;
  width:12rem;
  margin-left:1rem;
  
}
.product-link{
font-weight: bolder;
}
.color-choice{
  margin-bottom:1vw;
}

.price{
  font-weight: 900;
}


header{
  display : flex ; 
  justify-content: space-between;
}
nav{
  display : flex ; 
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2vw;
  font-weight: 600;
}
.contenu-panier ,.label{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.formulaire{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info-field{
  margin-top: 1rem;
}
.input{
  line-height: 1.25rem;
  border-radius: 0.3rem;
}
.submit-order{
  height:1.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
