.logo {
  height: 8rem;
}
.panier{
  text-decoration: none;
}
.teddy-wrapper {
  margin-bottom: 50px;
  background-color: #d8bfd8;
  border-radius: 30px;
  padding: 25px;
  max-width: 250px;
}
.teddy-pic{
    max-width: 250px;
}
.produits{
    display :flex;
    flex-direction: row;
    justify-content:space-between ;
}
.product-image{
  width:50%;
}
.container-image{
  max-width: 50%;
  display: flex;
  justify-content: center;
}

header{
  display : flex ; 
  justify-content: space-between;
}
nav{
  display : flex ; 
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2vw;
}